.bg-highlight{background:linear-gradient(to top,rgba(0,217,255,.3) 40%,transparent 40%);background-size:100% 100%;background-repeat:no-repeat;padding-left:2px;padding-right:2px;color:#00d9ff;font-weight:600}
